body{
    background-color: #ddd;
}

h1{
    text-align: center;
    margin: 1% 0%;
}

input{
    margin: 0% 1% 0% 0.5%;
}

.add{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-primary{
    margin: 20px 0% 20px 2px;
}

.container{
    background-color: whitesmoke;
    border-radius: 10px;
    border: 3px gray;
    box-shadow: 0px 0px 10px;
}

.btn-default{
    background-color: white; 
}

.tasks{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.item{
    background-color: white;
    width: 45%;
    margin: 0%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.edit{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}