<div class="edit">
    <label for="">New Due:</label>
    {{input value=deadline placeholder=task.deadline}}
    <label for="">New Task Description:</label>
    {{input value=description placeholder=task.description}}

    <button {{action "saveEdit" model description deadline}}>Edit</button>
</div>
{{outlet}}