<h1>
    Ember to do list
</h1>
<div class="add">
    <label for="">Due:</label>
    {{input value=newTask}}
    <label for=""> Task Description:</label>
    <input type="text">
    <button {{action "add" newTask}}>Add</button>
</div>
<div class="options">
    <button class="btn btn-primary">All</button>
    <button class="btn btn-primary">Complete</button>
    <button class="btn btn-primary">Incomplete</button>
</div>


<div class="container">
    {{#each model as |task|}}
    <div class="tasks">
        <div class="item">
            <input type="checkbox">
            {{task.description}} | {{task.deadline}}
        </div>
        <button class="btn btn-default" {{action "edit" task}}>Edit</button>
        <button class="btn btn-danger" {{action "exclude" task}}>Exclude</button>
    </div>
    {{/each}}
</div>

{{outlet}}